.card-container {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-gap: .5em;

}
.card{
    min-height: 10rem;
    width: 100%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}