html {
    font-size: 20px;
}

body {
    background-color: #f3f3f3;
    overflow-x: hidden;
}
form{
    min-height: 350px;
}

h1 {
    font-weight: 900;
    font-size: 3rem
}

button {
    border: 5px solid #ffffff;
    border-radius: 15px;
    background-color: transparent;
    color: #fff;
    padding: .1em 2.5em;
    transition: transform 200ms;
    font-size: 1em;
    font-weight: 900;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1)
}

blockquote {
    display: flex;
    flex-direction: column;
}

input, textarea{
    margin: .25em 0px;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

section {
    height: 100%;
    min-height: 20rem;
    display: flex;
    align-items: center;
}

.main-banner {
    margin: 0 auto;
    width: 100vw;
    min-height: 500px;
    height: 75vh;
    background-color: #b9b9b9;
    overflow: hidden;
    position: relative;
}

.main-banner .img-ban {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
}

/* startimages */

.main-banner #imgban3 {
    background-image: url(./images/doctor.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban2 {
    background-image: url(./images/xray.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban1 {
    background-image: url(./images/doctores.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* endimages */

.banner-text {
    position: relative;
    margin: auto;
    text-align: center;
    height: 100%;
    z-index: 1004;
}

.banner-text p,
.banner-text h1 {
    color: #e7e7e7;
}

.banner-text p {
    line-height: 1.5em;
}

.banner-buttons {
    display: flex;
    justify-content: space-evenly;
}

.banner-buttons button {
    
}

.box-container {
    width: 90%;
    margin: 0 auto;
}

.container {
    width: 70%;
    background-color: #0a7eaf7e;
    padding: 2% 5%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-justify-evenly {
    justify-content: space-evenly;
}
.flex-align-center{
    align-items: center;
}

.grid {
    display: grid;
}

.black-bg {
    background-color: black;
}

.blue-bg {
    background-color: #0a7eaf7e;
}
.red-bg {
    background-color: #8c0429;
}

.separator {
    height: 50vh;
    display: flex;
    align-items: center;
}

.full-height{
    height: 100%;
}
.text-center {
    text-align: center;
}

.logo {
    width: 35%;
    margin: 0 auto;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logoIMG ." "logoIMG .";
    justify-items: center;
    align-items: center;
}

.contact-form {
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}

#contact {
    flex-direction: column;
    align-items: center;
}

#contact-box {
    width: 80vw;
    display: flex;
    flex-direction: column;
}

#get-in {
    background-color: #8c0429;
}

#lider {
    color: #a32530;
}

#logo-img {
    grid-area: logoIMG
}

#platform {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 70vh;
    min-height: 300px;
    
}

#platform-image {
    max-width: 100%;
}

#sep1 {
    background-image: url(./images/mri.webp);
    min-height: 300px;
}

#quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}