/* startimages banner */

.main-banner #imgban3 {
    background-image: url(./images/doctor.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban2 {
    background-image: url(./images/xray.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban1 {
    background-image: url(./images/doctores.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* endimages banner*/

/* base styles */

button {
    border: 5px solid #ffffff;
    border-radius: 15px;
    background-color: transparent;
    color: #fff;
    padding: .1em 2.5em;
    margin: .5em;
    transition: transform 200ms;
    font-size: 4.5vw;
    font-weight: 900;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1)
}

input,
textarea {
    margin: .5em 0em;
    padding: .5em;
}

section {
    min-height: 100vh;
    height: fit-content;
    display: flex;
    /* flex-direction: column; */
    padding: 7vh 0;
}

.box-container {
    width: 100%;
    /* height: 100%; */
    /* margin: 10vw auto; */
}

.contact-form {
    min-height: 60vh;
    padding: 3em;
}

.separator {
    height: 40vh;
    display: flex;
    align-items: center;
}

/* utility classes */

.red-bg {
    background-color: #8c0429;
}

.black-bg {
    background-color: #202020;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

#enter-platform {
    min-height: 40vh;
    padding: 2em;
}

#img-esteto {
    min-height: 30vh;
    height: 40%;
    background-image: url(./images/estetos-l.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#sep1 {
    background-image: url(./images/mri.webp);
    min-height: 200px;
}

#quote {
    height: 100%;
}

@media only screen and (min-width: 650px) {
    nav h1 {
        display: none;
    }
    nav ul {
        flex-direction: row;
        max-height: inherit;
    }
    button {
        padding: .1em 2.5em;
        margin: .5em 2em;
        transition: transform 200ms;
        font-size: 2.5vw;
        font-weight: 900;
        /* max-width: 30vw; */
    }
    .banner-text{
        padding: 10vw;
    }
    .box-container {
        width: 80%;
        margin: 0 auto;
    }
    #quote {
        height: fit-content;
    }
    .banner-buttons{
        flex-direction: row;
        
    }
}